---
import type { Post } from "@/types";

interface Props extends Post {
    leading: string;
    slug: string;
    collection: string;
}


import { Image } from "astro:assets";
import Date from "@/components/Date.astro";
import { badgeVariants } from "@/components/ui/badge";
import { AvatarComponent } from "@/components/react/AvatarComponent";
import Avatar from "@/components/Avatar.astro";

function layout(leading: string) {
    if (leading) {
        return {
            mainLayout: "block lg:flex flex-row-reverse lg:flex-flexrow gap-4 lg:gap-8",
            imageLayout: "mb-4 w-full lg:w-1/3 lg:mt-8",
            contentLayout: "w-full lg:w-2/3",
            imageRatio: "w-full aspect-[16/10] object-cover rounded-lg",
            excerpt: 'mb-2',
        };
    }
    
    return {
        mainLayout: "flex flex-row-reverse lg:flex-flexrow gap-4 lg:gap-8 shrink-0",
        imageLayout: "mb-4 lg:mb-0 w-1/4 lg:w-1/3 mt-6 lg:mt-8",
        contentLayout: "w-full lg:w-full",
        imageRatio: "w-full aspect-square lg:aspect-[16/10] object-cover rounded-lg",
        excerpt: "hidden lg:block mb-2",
    };
}



const { leading, excerpt, title, slug, postDate, coverImage, tags, author, collection } =
    Astro.props;
---

<div class={layout(leading).mainLayout}>
    {
        coverImage ? (
            <div class={layout(leading).imageLayout}>
                <a href={slug}>
                    <Image
                        src={coverImage}
                        alt={title}
                        class={layout(leading).imageRatio}
                        width={480}
                    />
                </a>
            </div>
        ) : (
            ""
        )
    }


    <div class="basis-full">
        <Date
            time={postDate}
            class="text-muted-foreground font-semibold text-sm mb-1"
        />
        <h2 class="font-serif leading-tight text-lg lg:text-3xl mb-2">
            <a href={slug} class="hover:underline">{title}</a>
        </h2>
        <div class={layout(leading).excerpt}>
            <p class="line-clamp-3">{excerpt}</p>
        </div>
        <div class="mb-4 flex items-center gap-2">
            <Avatar
                src="https://github.com/shadcn.png"
                alt="@shadcn"
                fallbackText={author}
                size="sm"
                client:load
            />
            <p class="text-sm">{author}</p>
        </div>
        <div class="flex gap-1">
            {
                tags.map((tag, idx) => (
                    <a href={`/${collection}/tags/${tag}`} class={badgeVariants({ variant: "outline" })}>
                        {tag}
                    </a>
                ))
            }
        </div>
    </div>
</div>
