---
interface Props {
    title: string;
    coverImage?: string;
    author: string;
    postDate: string | Date | number;
    excerpt?: string;
}

import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import Date from "@/components/Date.astro";

const { coverImage, author, title, postDate, excerpt } = Astro.props;
---

<Layout title={title}>
    <div class="container px-0">
        {
            coverImage ? (
                <div class="max-w-7xl mx-auto mb-8">
                    <Image
                        src={coverImage}
                        alt="Image"
                        widths={[1200, 480]}
                        sizes={`(max-width: 480px) 480px, (max-width: 1024px) 1200px`}
                        class="aspect-[21/9] object-cover object-center w-full rounded-lg"
                    />
                </div>
            ) : (
                <div class="mt-16" />
            )
        }
    </div>
    <div class="container">
        <article class="max-w-6xl mx-auto px-4">
            <div class="mb-8 flex flex-col items-center">
                <p class="text-sm lg:text-md uppercase font-bold mb-2">
                    <Date time={postDate} />
                </p>
                <h1
                    class="text-2xl lg:text-5xl leading-normal text-center mb-2 max-w-4xl mx-auto font-serif font-bolds"
                >
                    {title}
                </h1>
                <p class="mb-4">oleh : {author}</p>

                {
                    excerpt ? (
                        <div class="prose-lg lg:prose-xl w-full mb-8 mx-auto">
                            <p class="max-w-5xl mx-auto leading-relaxed">
                                {excerpt}
                            </p>
                        </div>
                    ) : (
                        <div />
                    )
                }

                <div class="lg:flex w-full justify-center gap-8">
                    <div class="">
                        <div class="prose mb-8 lg:mb-16 mx-auto">
                            <slot name="content" />
                        </div>
                    </div>
                    <div class="lg:w-3/12">
                        <aside>
                            <slot name="content-aside" />
                        </aside>
                    </div>
                </div>
            </div>
        </article>
    </div>
</Layout>
